.git
.github
.idea
.vscode
.mvn/wrapper/maven-wrapper.jar
build
gradle
gradlew
gradlew.bat
k8s
out
settings.gradle
specs
target
*.iws
*.iml
*.ipr
*.class
*.bak
.gitignore
docker-compose.yml
HELP.md
LICENSE.txt
README.md